<!-- Fórum category -->
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Categoria</th>
		</tr>
	</thead>
	<tbody>
		<!-- Fórum -->
		<tr>
			<td>
				<a href="#">Fórum name</a>
				<p>Descrição do fórum</p>
			</td>
		</tr> <!-- Fórum -->
		<!-- Fórum -->
		<tr>
			<td>
				<a href="#">Fórum name</a>
				<p>Descrição do fórum</p>
			</td>
		</tr> <!-- Fórum -->
	</tbody>
</table> <!-- Fórum category -->

<!-- Fórum category -->
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Categoria</th>
		</tr>
	</thead>
	<tbody>
		<!-- Fórum -->
		<tr>
			<td>
				<a href="#">Fórum name</a>
				<p>Descrição do fórum</p>
			</td>
		</tr> <!-- Fórum -->
		<!-- Fórum -->
		<tr>
			<td>
				<a href="#">Fórum name</a>
				<p>Descrição do fórum</p>
			</td>
		</tr> <!-- Fórum -->
		<!-- Fórum -->
		<tr>
			<td>
				<a href="#">Fórum name</a>
				<p>Descrição do fórum</p>
			</td>
		</tr> <!-- Fórum -->
	</tbody>
</table> <!-- Fórum category -->
